// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80671', target='_blank', data-imgload='img/article/l_07/01.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80671', target='_blank')
						h3 【最 ∞ 高】一種緩震腳感 N 種材質變化！這些球鞋科技沒搞懂怎麼跟人家說你要當鞋頭？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/81047', target='_blank', data-imgload='img/article/l_07/02.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81047', target='_blank')
						h3 【最 ∞ 高】連 GD 都難以招架的魅力！ LVMH Prize 2018 年度最佳新人品牌：Doublet
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/80962', target='_blank', data-imgload='img/article/l_07/03.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80962', target='_blank')
						h3 【最 ∞ 高】Freestyle 一小時不間斷唱了 9000 個 Bars！最有望成為「 2019 XXL 最佳新人」的 19 歲饒舌歌手 Juice WRLD ，請務必記住他！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/81115', target='_blank', data-imgload='img/article/l_07/04.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81115', target='_blank')
						h3 【最 ∞ 高】直接打出公信力！盤點 8 位「最能引發購物慾的 Youtuber 」
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/81142', target='_blank', data-imgload='img/article/l_07/05.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81142', target='_blank')
						h3 【最 ∞ 高】新生代 Kpop 強植腦內的 10 首大勢曲目！YouTube 播放次數破五千萬只是基本？
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/81028', target='_blank', data-imgload='img/article/l_07/06.png')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81028', target='_blank')
						h3 【最 ∞ 高】唱得比說得好聽！惠妮休斯頓、皇后合唱團搬上大螢幕 盤點 6 部「與歌手相關」電影
// list07 end