// list08
section.list_08(data-menu='true')
	.layoutWrap
		h2.title RELATED ARTICLES
		ul.article
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80874', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80874/5b5ea5b09e897.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80874/5b5ea5b09e897.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80874', target='_blank')
						h3 【最 ∞ 高】喬丹還輸給他！盤點 NBA 歷史上最具領導力的9大球星
				.date Jul 30.2018 | by Xin
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/81050', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/81050/5b62e5fe85382.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/81050/5b62e5fe85382.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81050', target='_blank')
						h3 【最 ∞ 高】Supreme 除了推出有的沒的小物，竟然還有這幾個讓人哭笑不得的「怪現象」？！
				.date Aug 02.2018 | by ONE
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/80925', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/80925/5b601841f0b66.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/80925/5b601841f0b66.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/80925', target='_blank')
						h3 【最 ∞ 高】怪到你無法忽視 ！台灣新銳「怪模」Xinju San 絕對值得關注 ！
				.date Jun 30.2018 | by Normal Girl
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/81116', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/81116/5b600c001f608.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/81116/5b600c001f608.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81116', target='_blank')
						h3 【最 ∞ 高】根本宣美雙胞胎！這 4 位「超強仿妝 Youtuber 」，連人物神韻都逼近 100%
				.date Jul 25.2018 | by 熊編
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/81030', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/81030/5b56f9e8f0ac2.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/81030/5b56f9e8f0ac2.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81030', target='_blank')
						h3 【最 ∞ 高】還在米其林？！trip advisor 精選 7 大「平價人氣美食餐廳」
				.date Jul 24.2018 | by 山抓
			li.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup')
				a.img(href='https://www.juksy.com/archives/81044', target='_blank', style='background-image:url("https://static.juksy.com/files/articles/81044/5b60844021263.jpg?m=resize&i=760x400&q=75");')
					.linkWrap(style='background-image: repeating-linear-gradient(45deg, #3aecff, #ffff4c, #c280ff) , url("https://static.juksy.com/files/articles/81044/5b60844021263.jpg?m=resize&i=760x400&q=75");')
						.txt READ MORE
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/81044', target='_blank')
						h3 【最 ∞ 高】跑不快、跳不高的玻璃球員？剖析「從凡人化為改變全世界籃球的男人」Stephen Curry
				.date Aug 03.2018 | by Jerry
// list08 end